*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #f5f6f7;
    margin: 0;
}
.header{
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(228,202,168);
    padding: 32px;
    color: darkmagenta;
    border-bottom: 4px solid #000040;

}

/*targeting flex components*/
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: lightgoldenrodyellow; */
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    gap: 16px;
    /* background-color: green; */
}
/*targeting flex items*/
.gallery img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover; /*work with the aspect ration and image distortion*/
    border-radius: 10px;
}